<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instance 2</title>
</head>
<body>
    <pre>
        "Better make it hard" that so she said.
    </pre>
</body>
</html>