<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instance 2</title>
</head>
<body>
    <pre>
                            Slow down turbo
        Winter jacket on me, I love when it's cold out
        Act so tough, tell me what you really know 'bout
        Closed-eyed chronicles, slow ride carnivals, no lines audible
        Your girl, my girl, it's all the same when she swallowin'
        Aim my dick and I shoot her abdominals
        My shit dope, always get people wonderin'
        Your mirror broke 'cause it saw what's in front of it
        Walkin' 'round, I'm feelin' like a fully-loaded weapon
        I just gave you dick, girl, why do you keep askin' for a present?
        Actin' hella fed up, bitch, I'm never givin' no more credits
        And my credit card ain't set up, send me money through the FedEx
        Everybody sleepin' on me, ain't nobody tryna get up
        I just bought another mirror, hope I see somebody better
        I don't wanna play no game, lil' bitch, I'm on another level
        See me at the bakery, I'm tryna get my fuckin' bread up
        Serve it with some mozzarella, drippin' on you mothafuckas
        You gon' need to buy umbrellas, you gon' see me at Coachella
        Fuck your mothafuckin' head up, she lookin' like Cinderella
        Man, your girl is gettin' wetter, we about to go meta
                                            --Rich Brian--
    </pre>
</body>
</html>