<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instance 3</title>
</head>
<body>
    <pre>
        "The time flies when you spend your nights in the Westin
        I didn't know that snakes come in the form of a best friend
        Who you fakin' for? You ready for your lights, camera, action?
        This ain't Trader Joe's, you payin' for my verses with five 10s
        I'm on stage alone, what is you doin' with five men?
        Hit up record stores to see if my new shit has sold out yet
        And we don't aim at all, but we hit all of the targets
        Man, I'm hella spiritual, my soul is nothin' to fuck with
        Woke up with a bitch, we didn't have a conversation, man
        She just creamed on my dick
        Don't get involved in altercations, got too much fame for this shit
        Made so much money I forgot about, like "Who paid for this shit?"
        I got used to destruction so I'm always causin' problems
        The only difference between me and you is you're the bad one
        I do not socialize with these rappers, I just destroy 'em
        When times are good, I do not pull my phone out, I enjoy 'em
        Uh, uh, you're makin' me mad
        Bad energy, man, where my palo santo at?
        Told her "Don't fuck me, " 'cause this shit get sentimental fast
        But she didn't listen, we was on the Devil's lettuce wrap, huh
        I'm just a social smoker, but I'm a social person
        My brain yellin' "Stop, " I'm tryna be good like a social worker
        It's only two o'clock and this gas put me in a coma
        Got that fire burnin', I'll call you back when I'm feelin' sober
        I'm feelin' pressure from my job lately
        I guess if I don't drop a song today, then I'm just lazy
        I haven't dropped a thing a months, so what does that make me?
        But then again, I'm somewhat famous, you supposed to hate me
        Pissed off with the heat drawn
        Man, I'll never stop ventin' 'til the beat stop.
        When the beat drop, get set up for action
        I just mind my own, man, I don't write disses, I just write songs
        But then again, if nobody gets hurt, then where's the fun?"
    </pre>
</body>
</html>