<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instance 1</title>
</head>
<body>
    <pre>
        "I want to be great but i'm too scared to die young".
    </pre>
</body>
</html>